@import url(./header.css);
@import url(./main/productos.css);
@import url(./main/formulario.css);
@import url(./footer.css);
@import url(./reset.css);


body {
  font-family: "IBM Plex Mono", monospace;
  
}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 24px;
}

.seccion-principal {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}

.btn:hover{
  cursor: pointer;
  transform: scale(1.1)
}



@media (min-width: 1100px) {
  /* cuerpo */

  main {
    display: flex;
    justify-content: center;
  }

  .seccion-principal {
    display: flex;
    flex-direction: row;
    width: 1280px;
    margin: 50px 30px;
    padding: 60px 40px;
    gap: 60px;
  }

}